@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); 


@tailwind base;
@tailwind components;
@tailwind utilities;

li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #000000;
    font-size: 0.85rem;
    padding: 8px 10px;  
}
a:hover{
    color: #6B7280;
}
#login{
    background-color: #ffffff;
    display: inline;
    border: 1px solid #6B7280;
    
}
/* 
.dropdown-menu{
    position: absolute; 
    top:3.5rem;
    right: 32px; 
    display: none;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    transition: height .3s;
    overflow: hidden;
} */
.dropdown-menu.open{
    left: 0;
} 
.dropdown-menu li{
    display: flex;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;
}

 @media (max-width:640px){
    .dropdown-menu{
        display: block;
    }
 }

